body{
    margin:0;
}

.grid {
    display:grid;
    width:500px;
    height:500px;
    margin: auto;
    margin-top:150px;
    border:solid 2px;
}

.reset {
    display:block;
    margin:auto;
    margin-top: 20px;
}


